.button {
  padding: 50px;
  display: flex;
  margin-top: 40px;
  text-align: center;
  align-items: center;
  /* justify-content: center; */
}

.button-stack {
  display: flex;
  flex-direction: column;
}

.welcome {
  text-align: center;
  margin-top: 40px;
}
