* {
  box-sizing: border-box;
}
.home {
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  width: 100%;
  height: 100vh;
  background-position: center bottom, left top;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button {
  padding: 50px;
  display: flex;
  margin-top: 40px;
  width: 200px;
  border-radius: 20px;
  justify-content: center;
  background-color: rgb(80, 211, 80);
  box-shadow: 5px 5px #888888;
  cursor: pointer;
  font-size: 20px;
  font-family: "Lilita One", cursive;
}

.button-stack {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.button-stack > a {
  text-decoration: none;
  margin-bottom: 20px;
}

#welcome {
  text-align: center;
  margin-top: 40px;
  background-color: rgb(68, 184, 68);

  color: black;
  font-size: 30px;
  padding: 15px;
  border-radius: 10px;
  font-family: "Lilita One", cursive;
}
