* {
  box-sizing: border-box;
  /* background-color: aquamarine; */
  
}
.home {
  /* background-color: red; */
  
background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
}
.button {
  padding: 50px;
  display: flex;
  margin-top: 40px;
  width: 200px;
  border-radius: 20px;
  justify-content: center;
  background-color: rgb(80, 211, 80);
  box-shadow: 5px 5px #888888;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Lilita One', cursive;
  
}

.button-stack {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.button-stack > a {
  text-decoration: none;
}

#welcome {
  text-align: center;
  font-family: 'Lilita One', cursive;
  margin-top: 40px;
  background-color: rgb(68, 184, 68);
  color: black;
  font-size: 40px;
  padding: 20px;
  border-radius: 10px;
}
