.selected-option {
  background: rgb(149, 185, 218);
}

#submit-btn {
  background-color: lightgreen;
  border-radius: 9px;
  text-align: center;
}

/* answers */
.question-wrapper {
  text-align: center;
}

.option {
  width: 100%;
}
