* {
  box-sizing: border-box;
  font-family:'Lilita One', cursive;
}

.nav-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  font-size: 18px;
  color: white;
  border-radius: 10px;
}

.Home-wrap,
.account {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.home-icon {
  color: white;
  margin-left: -8px;
}

.log-reg {
  color: white;
}
span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

span > * {
  padding: 1px;
}
